<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Package Details:</h1>
    <p>Package Width: @Model.GetWidth()</p>
    <p>Package Height: @Model.GetHeight()</p>
    <p>Package Length: @Model.GetLength()</p>
    <p>Package Weight: @Model.GetWeight()</p>
    <p>Package Volume: @Model.GetVolume()<p>
    <p>Package Cost: @Model.CosttoShip()</p>

  </body>
</html>
